@mixin button($padding:10px 20px, $font-size:16px, $border-radius:3px, $bg-color:#ccc, $font-color:#333) {
	padding:$padding;
	display:inline-block;
	border-radius:$border-radius;
	background:$bg-color;
	font-size:$font-size;
	color:$font-color;
}

.btn {
	@include button;
}

.btn-large {
	@include button(20px 30px, 22px);
}